:root {
  --booking-btn-width:170px;
  --booking-btn-height:60px;
  --booking-input-height:45px;
  --btn-border-radius:3px;
  --btn-color:rgb(255, 94, 0);
  --btn-text-color:white;
  --btn-shadow:-3px 3px 10px rgb(163, 163, 163);
  --hero-text-box-width:550px;
}
.asterisk {color:var(--btn-color)}
.benefit-title {font-size:1.5em;font-weight: bold;}
.benefits-container {align-items: center;display: flex;flex-direction: column;margin: 400px 0px 130px 0px;}
.benefits-icon {height: 120px;object-fit: contain;}
.benefits-process {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin:0px 40px;
  width: 250px;
}
.benefits-process p {margin-top: 20px;}
.benefits-processes {display: flex;flex-wrap:wrap;justify-content: space-between;width: 80vw;}
.benefits-title {font-size:1.5em;margin:100px 0px 30px 0px;}
.benefits-title2 {font-size: 3em;font-weight: bold;margin:0px 0px 60px 0px;}
.blob {width: 100%;}
.blob-block {flex:none;width: 320px;}
.blob-shrink {display: flex;justify-content:space-between;position: absolute;right:-10%;width:100vw;}
.blob-thing {width:900px;}
.book-btns {display: grid;grid-template-columns: 200px 200px;width: var(--hero-text-box-width);}
.booking-btn {background-color: var(--btn-color);}
.booking-btn,.learn-more-btn {
  border: none;
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-shadow);
  color:var(--btn-text-color);
  font-weight: bold;
  height: var(--booking-btn-height);
  width: var(--booking-btn-width);
}
.booking-container {display: flex;justify-content: center;width: 100vw;}
.book-times {background: url("./assets/wavy.jpg");border-radius: 7px;box-shadow: var(--btn-shadow);height: 100%;width: 80vw;}
.book-times-input, .booking-title {margin: 25px;}
.book-times-input p {margin:0px 0px 15px 0px;}
.book-times-inputs {align-items: center;display: grid;grid-template-columns: 1fr 1fr 1fr;}
.booking-title {font-size: 2em;font-weight: bold;}
button {cursor: pointer;}
.car {right:0px;width: 100%;}
.car-block {flex:none;width: 540px;}
.car-image-container {display: flex;justify-content: end;height: 860px;position: relative;width: 100vw;}
.cars-choice {align-items: center;background-color: rgb(236, 236, 236);display: flex;height:60px;justify-content: center;width:270px;}
.cars-choice-active {align-items: center;background-color:var(--btn-color);color: white;display: flex;height:60px;justify-content: center;width:270px;}
.cars-choice-active:nth-child(-n+5){margin-bottom: 10px;}
.cars-choice:hover {background-color: var(--btn-color);color: white;transition: 0.2s linear;}
.cars-choice-image {height: 330px;margin: 0px 50px;}
.cars-choice:nth-child(-n +5){margin-bottom: 10px;}
.cars-choice-prices p {align-items: center;background-color:var(--btn-color);color: white;display: flex;justify-content: center; height:60px;}
.cars-container {align-items: center;display: flex;justify-content: center;}
.car-thing {width: 800px;}
.car-shrink {display: flex;justify-content:space-between;position: absolute;right:10%;top:300px;width:100vw;}
.car-types-options {height: var(--booking-input-height);width: 100%;}
.fleets-title {align-items: center;display: flex;flex-direction: column;margin-bottom: 100px; text-align: center;}
.fleets-title1 {font-size: 1.8em;}
.fleets-title2 {font-size: 3.3em;font-weight: bold;}
.fleets-title3 {color:grey; font-size: 1.3em;}
.fleets-title1,.fleets-title2,.fleets-title3 {margin-bottom:16px;width:80vw;}
.hero-and-nav-section {position: absolute;}
.hero-container {align-items: center;display: grid;grid-template-rows: 750px;padding:0px 0px 0px 13%;}
.hero-texts {align-items: center;display: grid;grid-template-rows: 50px 120px 80px 80px;width: var(--hero-text-box-width)}
.hero1-text {font-size: 2em;}
.hero2-text {font-size: 3em;font-weight: bolder;}
.hero2-highlight {color:var(--btn-color)}
.hero3-text {color:gray}
.learn-more-btn {background-color: black;}
.learn-more-btn:hover {background-color: white;border:1px solid;color:black;transition: 0.1s linear;}
.save-banner {
  align-items: center;
  background-color: rgb(54, 54, 54);
  color: white; 
  display: flex;
  flex-direction: column;
  font-size: 2em; 
  height: 300px;
  justify-content: center;
  margin-top:80px; 
  text-align: center;
  width: 100vw;}
.save-title {font-size: 1.8em;font-weight: bold;}
.save247 {color:var(--btn-color)}
.search-btn {
  background-color: var(--btn-color);
  border: none;
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-shadow);
  color:var(--btn-text-color);
  height: var(--booking-input-height);
  margin:25px 25px 40px 25px;
}
table {border: 1px solid;border-top: none;}
td {border-bottom:1px solid;height: 50px;text-align: center;width: 160px;}

/*booking stuff*/
@media screen and (max-width:660px) {
  .book-times-inputs {grid-template-columns: 1fr;}
  .benefits-container {margin:830px 0px 200px 0px;}
}
@media screen and (min-width:660px) and (max-width:960px) {
  .book-times-inputs {grid-template-columns: 1fr 1fr;}
}
/*car gone */
@media screen and (max-width:915px) {
  .blob-shrink,.car-shrink {display: none;}
  .hero-container {justify-content: center;padding: 0px;}
}
@media screen and (max-width:824px) {
  .benefits-processes {justify-content: center;}
  
}
/*cars choices */
@media screen and (max-width:1350px) {
  .cars-container {flex-direction: column;}
  .cars-choice-image {margin:80px 0px;}
  .cars-choice,.cars-choice-active {width:80vw;}
}
@media screen and (max-width:650px){
  .cars-choice-image {width: 90vw;height: 100%;}
  .save-banner {font-size: 1.3em;}
}

